.head {
    background-color: $white;
    padding: 20px;
    box-shadow: 0 1px 10px $grey;

    .col-sm-12 {
        @include respond-below(sm) {
            padding: 0;
        }
    }

    .title {
        font-size: 20px;
        margin-top: 10px;
        font-weight: $font-normal;

        @include respond-below(sm) {
            text-align: center;
            font-size: 15px;
            font-weight: $font-bold;
            margin: 0;
        }
    }

    .head-filter {
        display: flex; 
        flex-direction: row;
        
        .filter-title {
            align-self: center;
            font-size: 1vw;
            margin-right: 5px;
            margin-left: 10px;
        }

        @include respond-below(sm) {
            display: none;
        }
    }

    .head-noted {
        display: flex;
        flex-direction: row;
        
        @include respond-below(sm) {
            flex-direction: column;
        }

        @include respond-below(sm) {
            flex-direction: column;
        }

        &.right {
            position: absolute;
            right: 10px;
            top: 50%;

            @include respond-below(sm) {
                position: relative;
                right: 0;
                top: 0;

                .button-group {
                    align-self: center;
                    margin-top: 10px;
                }
            }
        }

        span {
            background-color: $smoth-grey;
            border-radius: 20px;
            padding: 10px 20px;
            margin-right: 10px;
            // font-weight: $font-bold;
            letter-spacing: 1px;

            @include respond-below(sm) {
                background-color: inherit;
                font-size: 11px;
                letter-spacing: 0;
                text-align: center;
                padding: 0;
                width: 100%;
                font-weight: $font-normal;
            }
        }
        .button-group {
            @include respond-below(sm) {
                align-self: center;
                margin-top: 10px;
            }
        }
    }

}