/* ---------------------------------- 
------ Your variable is started -----
------------------------------------*/

// Font size
$font-large: 20px;
$font-medium: 14px;
$font-small: 12px;
$font-number-large: 35px;

// Font style
$font-bold: 600;
$font-normal: 400;
$font-smoth: 300;

// Color style
$brand-primary: #3097D1;
$brand-info: #23CCEF;
$brand-success: #2ab27b;
$brand-warning: #e6d262;
$brand-danger: #bf5329;
$grey: #999999;
$smoth-grey: #e6e6e6;
$white: #FFFFFF;
$black: #000000;
$red: red;

$first-options: #8892D6;
$second-options: #45BBE0;
$third-options: #F06292;
$fourth-options: #78C350;

$navbar-background-color: $brand-primary;
$navbar-text-color: #FFFFFF;
$navbar-button-color: #FFFFFF;
