/* ---------------------------------- 
---- Import all your style here -----
------------------------------------*/

/* ---------------------------------- 
- Import all your helpers file here -
------------------------------------*/

/* ---------------------------------- 
------ Your variable is started -----
------------------------------------*/

/* ---------------------------------- 
- Import all your component file here -
------------------------------------*/

.row {
  margin-left: 0;
  margin-right: 0;
}

.row .small-card {
  width: 20% !important;
}

@media (max-width: 575px) {
  .row .small-card {
    width: 100% !important;
  }
}

.card {
  margin-bottom: 20px;
}

.card .title {
  font-size: 23px !important;
}

.card.hover {
  cursor: pointer;
}

.card.hover .card-body {
  height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 575px) {
  .card.hover .card-body {
    height: auto;
  }
}

.card .card-image img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 575px) {
  .card .card-image img {
    height: auto;
  }
}

.card .card-body .title {
  text-align: center;
  padding-bottom: 0;
  font-size: 15px !important;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 10px;
}

.card .card-body .subtitle {
  margin: 0;
  margin-top: 5px;
  color: #999999;
}

.card .card-body .summernote-content {
  padding: 20px;
  padding-top: 0;
}

.card .card-body .summernote-content p {
  font-size: 12px !important;
  height: 120px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.card .card-body .description {
  text-align: justify;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 13px;
}

.card .card-body .description p {
  font-size: 12px !important;
  height: 100px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-body .summernote-content {
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.card .card-body .summernote-content p {
  font-size: 12px !important;
  height: 90px;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.card .card-body .date {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3097D1;
}

.card .card-body .date .content {
  padding: 0;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
  margin-bottom: 0;
  font-weight: 600;
}

.card .card-body .date .content.large {
  font-size: 15px !important;
}

.card .card-body .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 20px;
}

.card .card-body .button-group .btn {
  margin-right: 10px;
}

.card .card-body .button-group .btn.background {
  color: #FFFFFF;
}

.card .card-body .button-group .btn.background.primary {
  background-color: #3097D1;
}

.card .card-body .button-group .btn.background.danger {
  background-color: red;
}

.card .card-body .button-group .btn.rounded {
  border-radius: 20px;
}

.card .overlay {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  background-color: rgba(64, 120, 239, 0.3);
  overflow: hidden;
  width: calc(100% - 30px);
  height: 0;
  margin-left: 15px;
  border-radius: 5px;
}

.card:hover .overlay {
  height: calc(100% - 20px);
}

.card.dashboard {
  padding: 25px;
  cursor: pointer;
}

.card.dashboard.link:hover {
  opacity: 0.6;
}

.card.dashboard .card-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}

.card.dashboard .card-title.card-number-large {
  font-size: 35px;
}

.card.dashboard .card-category {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #FFFFFF;
}

.card.dashboard .card-description {
  font-size: 12px;
  text-transform: capitalize;
  color: #e6e6e6;
}

.card.dashboard .card-icon {
  position: absolute;
  font-size: 20px;
  color: #FFFFFF;
}

.card.dashboard .card-icon.top {
  top: 30px;
}

.card.dashboard .card-icon.right {
  right: 40px;
}

.card.side-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 575px) {
  .card.side-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card.side-image .side {
  width: 100%;
  height: auto;
}

@media (max-width: 575px) {
  .card.side-image .side {
    height: 200px;
  }
}

.card.side-image .side.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.card.side-image .card-body {
  padding: 20px;
  padding-top: 100px;
  width: 130%;
}

@media (max-width: 575px) {
  .card.side-image .card-body {
    width: 100%;
    padding-top: 20px;
  }
}

.card.side-image .card-body .title.large {
  font-size: 30px !important;
  text-align: left;
}

.card.side-image .card-body .content p {
  text-align: justify;
  font-size: 16px;
}

.card.side-image .card-body .button-group {
  position: absolute;
  left: 10vw;
  margin-top: -50px;
}

@media (max-width: 575px) {
  .card.side-image .card-body .button-group {
    position: relative;
    margin-top: 0;
    left: 0;
  }
}

.panel .panel-heading {
  padding: 15px;
}

.panel .panel-body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.panel .panel-body.card-group {
  height: 500px;
  overflow: auto;
}

.panel .panel-body.card-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.panel .panel-body.card-group::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.panel .panel-body.card-group::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
}

@media (max-width: 575px) {
  .panel .panel-body .icon-navigation.right {
    position: absolute;
    right: 0;
    top: -30px;
  }
}

.panel .panel-body .panel-group-description {
  font-size: 12px;
}

.panel .panel-body .panel-group-description:before {
  content: url(/images/demo.png?d27589eb10aa3c065150de14e29fe833);
  margin-right: 5px;
}

.panel .panel-body .avatar-icon i {
  font-size: 50px;
  color: #FFFFFF;
}

.panel .panel-body .content .content-title {
  color: #FFFFFF;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
}

.panel .panel-body .content .content-description {
  color: #FFFFFF;
  margin-bottom: 0;
  font-size: 20px;
}

.panel.event {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  border: 2px solid #000000;
  cursor: pointer;
}

.panel.event .panel-body .card-title {
  width: 160px;
  height: 160px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #FFFFFF;
  border: 2px solid #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel.event .panel-body .card-title .event-name {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: center;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.panel.event .panel-body .event-date {
  right: 20px;
  position: absolute;
  margin-top: -10px;
  background-color: #FFFFFF;
  padding: 10px;
}

.panel.event .panel-body .event-date .title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.panel.event .panel-body .event-date .date {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

canvas {
  height: 300px;
  width: '100%';
}

.badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: red;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  right: 7px;
  border-radius: 50%;
}

.badges span {
  color: white;
  margin: 0;
  font-size: 10px;
}

.navbar {
  background-color: #3097D1;
}

.navbar .navbar-brand {
  color: #FFFFFF;
}

.navbar .navbar-collapse .nav .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-collapse .nav .dropdown .dropdown-toggle:focus {
  background-color: transparent;
}

.navbar .navbar-collapse .nav .dropdown .dropdown-toggle i {
  color: #FFFFFF;
}

.navbar .navbar-collapse .nav .dropdown .dropdown-toggle.navbar-image {
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar .navbar-collapse .nav .dropdown .dropdown-toggle.navbar-name {
  margin-left: -10px;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      align-self: center;
  text-transform: capitalize;
}

.navbar .navbar-collapse .nav .open a {
  background-color: transparent;
}

.navbar .navbar-nav.hidden-lg .dropdown {
  position: absolute;
  top: 0;
  right: 50px;
}

.navbar .navbar-nav.hidden-lg .dropdown.open {
  z-index: 1;
}

.navbar .navbar-nav.hidden-lg .dropdown.open .dropdown-menu {
  background-color: #FFFFFF;
  position: absolute;
  left: auto;
  right: 0;
  margin-right: -35px;
  margin-top: 10px;
  width: calc(100vw - 28px);
  border-radius: 0;
}

@media (max-width: 575px) {
  .navbar .navbar-nav.hidden-lg .dropdown.open .dropdown-menu {
    -webkit-box-shadow: 0px 3px 12px #888888;
            box-shadow: 0px 3px 12px #888888;
  }
}

.navbar .navbar-nav.hidden-lg .dropdown.open .dropdown-menu li a {
  padding-left: 5px;
}

.navbar .navbar-nav.hidden-lg .dropdown.open .dropdown-menu li a .notif-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .navbar-nav.hidden-lg .dropdown .dropdown-toggle {
  background-color: transparent;
}

.navbar .navbar-nav.hidden-lg .dropdown .dropdown-toggle i {
  color: #FFFFFF;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.button-group.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 2vw;
  right: 10px;
}

@media (max-width: 575px) {
  .button-group.right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }

  .button-group.right button {
    margin: 10px;
  }
}

.btn {
  margin: 0 10px;
}

.btn.btn-white {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #FFFFFF;
}

.btn.btn-white:hover {
  background-color: inherit;
}

.btn.btn-white:focus {
  background-color: #FFFFFF;
  color: #000000;
}

.btn.btn-primary {
  background-color: #3097D1;
  color: #FFFFFF;
  border: 1px solid #3097D1;
}

.btn.btn-danger {
  background-color: red;
  color: #FFFFFF;
  border: 1px solid red;
}

.btn.btn-warning {
  background-color: #e6d262;
  color: #FFFFFF;
  border: 1px solid #e6d262;
}

.btn.btn-success {
  background-color: #2ab27b;
  color: #FFFFFF;
  border: 1px solid #2ab27b;
}

.btn.btn-info {
  background-color: #23CCEF;
  color: #FFFFFF;
  border: 1px solid #23CCEF;
}

.btn.circle {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.btn.circle i {
  margin-left: -5%;
}

.btn.rounded {
  border-radius: 20px;
}

.btn.shadow-effect {
  -webkit-box-shadow: 0 3px 5px #999999;
          box-shadow: 0 3px 5px #999999;
}

.btn.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: #FFFFFF;
  cursor: inherit;
  display: block;
}

.sidebar .sidebar-wrapper .nav.nav-mobile-menu .dropdown.hidden-sm {
  display: none;
}

.sidebar .sidebar-wrapper .nav.nav-mobile-menu .dropdown .dropdown-toggle.navbar-image {
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.sidebar .sidebar-wrapper .nav.nav-mobile-menu .dropdown .navbar-username {
  text-align: center !important;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sidebar .sidebar-wrapper .nav.nav-mobile-menu .dropdown .navbar-type {
  text-align: center !important;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: -10px;
  letter-spacing: 1px;
}

.sidebar .sidebar-wrapper .nav li.divider {
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar:after {
  background-color: #3097D1 !important;
  background-image: none !important;
}

.beautiful-select {
  margin-top: -7px;
  height: 3.5rem !important;
  background-color: #e6e6e6;
  border-radius: 20px;
  border: none;
  padding-left: 15px !important;
  padding-right: 15px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.beautiful-select::-ms-expand {
  display: none;
}

.beautiful-select:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-load-component {
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
}

.custom-load-component .label-loader {
  margin-top: 10px;
  color: #3097D1;
  font-size: 14px;
  font-weight: 600;
}

.custom-load-component .roll-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.custom-load-component .roll-loader div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.custom-load-component .roll-loader div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3097D1;
  margin: -4px 0 0 -4px;
}

.custom-load-component .roll-loader div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.custom-load-component .roll-loader div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.custom-load-component .roll-loader div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.custom-load-component .roll-loader div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.custom-load-component .roll-loader div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.custom-load-component .roll-loader div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.custom-load-component .roll-loader div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.custom-load-component .roll-loader div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.custom-load-component .roll-loader div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.custom-load-component .roll-loader div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.custom-load-component .roll-loader div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.custom-load-component .roll-loader div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.custom-load-component .roll-loader div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.custom-load-component .roll-loader div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.custom-load-component .roll-loader div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.custom-load-component .roll-loader div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.nav.nav-tabs {
  border: none;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .nav.nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.nav.nav-tabs li {
  margin-right: 10px;
}

.nav.nav-tabs li.active a {
  background-color: #3097D1;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
}

.nav.nav-tabs li.active a:hover {
  border: none;
}

.nav.nav-tabs li a {
  background-color: transparent;
  color: #000000;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  letter-spacing: 1px;
}

@media (max-width: 575px) {
  .dataTables_wrapper {
    overflow: auto;
  }

  .dataTables_wrapper .dt-buttons {
    margin: 10px;
  }

  .dataTables_wrapper .dt-buttons button {
    margin: 10px;
  }
}

.dataTables_wrapper .dataTable {
  width: 100%;
}

.table.beautiful-table thead.style-head {
  background-color: #e6e6e6;
}

.table.beautiful-table thead.style-head th {
  padding: 15px 15px;
  font-weight: 600;
}

.table.beautiful-table tbody tr.zoom-effect {
  background-color: #FFFFFF;
}

.table.beautiful-table tbody tr.zoom-effect:hover {
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  -webkit-box-shadow: 0 2px 15px #999999;
          box-shadow: 0 2px 15px #999999;
}

.table.beautiful-table tbody tr.zoom-effect:hover td.with-icon .icon.default {
  border: 1.2px solid #999999;
}

.table.beautiful-table tbody tr td {
  padding: 10px;
}

.table.beautiful-table tbody tr td.with-icon .icon {
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}

.table.beautiful-table tbody tr td.with-icon .icon.primary {
  background-color: #3097D1;
  padding: 23px;
}

.table.beautiful-table tbody tr td.with-icon .icon.primary i {
  left: 13px;
  top: 13px;
  color: #FFFFFF;
}

.table.beautiful-table tbody tr td.with-icon .icon.default {
  background-color: #FFFFFF;
  padding: 20px;
}

.table.beautiful-table tbody tr td.with-icon .icon.default i {
  color: #999999;
  left: 10px;
  top: 10px;
}

.table.beautiful-table tbody tr td.with-icon .icon i {
  font-size: 20px;
  position: absolute;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #c0c0c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

input[type="checkbox"]:checked::after {
  content: '\2714';
  font-size: 18px;
  position: absolute;
  top: -10px;
  left: 1px;
  color: #99a1a7;
}

.notification .column {
  position: absolute;
  right: 50px;
  top: 100px;
  z-index: 1;
}

.notification .column .card {
  background-color: #3097D1;
  margin-top: -30px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 0;
}

.notification .column .card p {
  margin: 0;
  color: #FFFFFF;
  text-transform: capitalize;
}

.note-editable p {
  font-size: 14px !important;
}

.suggestion-box {
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 95%;
  display: none;
}

.suggestion-box .item {
  padding: 8px;
  border-bottom: 1px solid #d9d9d9;
}

.suggestion-box .item a {
  color: black;
}

.suggestion-box .item:last-child {
  border-bottom: none;
}

.suggestion-box .item p {
  margin: 0;
  font-size: 14px;
  margin-left: 6px;
  text-transform: capitalize;
}

.ui-datepicker-calendar {
  display: none;
}

.head {
  background-color: #FFFFFF;
  padding: 20px;
  -webkit-box-shadow: 0 1px 10px #999999;
          box-shadow: 0 1px 10px #999999;
}

@media (max-width: 575px) {
  .head .col-sm-12 {
    padding: 0;
  }
}

.head .title {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
}

@media (max-width: 575px) {
  .head .title {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
  }
}

.head .head-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.head .head-filter .filter-title {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1vw;
  margin-right: 5px;
  margin-left: 10px;
}

@media (max-width: 575px) {
  .head .head-filter {
    display: none;
  }
}

.head .head-noted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 575px) {
  .head .head-noted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575px) {
  .head .head-noted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.head .head-noted.right {
  position: absolute;
  right: 10px;
  top: 50%;
}

@media (max-width: 575px) {
  .head .head-noted.right {
    position: relative;
    right: 0;
    top: 0;
  }

  .head .head-noted.right .button-group {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 10px;
  }
}

.head .head-noted span {
  background-color: #e6e6e6;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  letter-spacing: 1px;
}

@media (max-width: 575px) {
  .head .head-noted span {
    background-color: inherit;
    font-size: 11px;
    letter-spacing: 0;
    text-align: center;
    padding: 0;
    width: 100%;
    font-weight: 400;
  }
}

@media (max-width: 575px) {
  .head .head-noted .button-group {
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 10px;
  }
}

