.badges {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: row; 
    background-color: red; 
    width: 17px; 
    height: 17px; 
    position: absolute; 
    top: 0; 
    right: 7px; 
    border-radius: 50%;

    span {
        color: white; 
        margin: 0; 
        font-size: 10px; 
    }
}