.button-group {
    display: flex;
    flex-direction: row;
    &.right {
        justify-content: flex-end;
        position: absolute;
        top: 2vw;
        right: 10px;
        
        @include respond-below(sm) {
            justify-content: center;
            flex-wrap: wrap;
            position: relative;

            button {
                margin: 10px;
            }
        }
    }

}

.btn {
    margin: 0 10px;
    &.btn-white {
        background-color: $white;
        color: $black;
        border: 1px solid $white;

        &:hover {
            background-color: inherit;
        }

        &:focus {
            background-color: $white;
            color: $black;
        }
    }

    &.btn-primary {
        background-color: $brand-primary;
        color: $white;
        border: 1px solid $brand-primary;
    }

    &.btn-danger {
        background-color: $red;
        color: $white;
        border: 1px solid $red;
    }

    &.btn-warning {
        background-color: $brand-warning;
        color: $white;
        border: 1px solid $brand-warning;
    }

    &.btn-success {
        background-color: $brand-success;
        color: $white;
        border: 1px solid $brand-success;
    }

    &.btn-info {
        background-color: $brand-info;
        color: $white;
        border: 1px solid $brand-info;
    }

    &.circle {
        border-radius: 50%;
        height: 40px;
        width: 40px;

        i {
            margin-left: -5%;
        }
    }

    &.rounded {
        border-radius: 20px;
    }

    &.shadow-effect {
        box-shadow: 0 3px 5px $grey;
    }

    &.btn-file {
        input[type="file"] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            opacity: 0;
            outline: none;
            background: $white;
            cursor: inherit;
            display: block;
        }
    }
}